[notebook]
dir = '/home/rnicola/Documents/Zettelkasten'

[note]
language = 'en'
default-title = 'Untitled'
filename = "{{format-date now 'timestamp'}}-{{slug title}}"

[tool]
editor = "nvim"

[group.daily]
paths = ["journal"]

[group.daily.note]
template = 'daily.md'
filename = '{{format-date now "%Y%m%d"}}'

[alias]
edlast = "zk edit --limit 1 --sort modified- $@"
config = '$EDITOR "$XDG_CONFIG_HOME/zk/config.toml"'
wc = "zk list --format '{{word-count}}\t{{title}}' --sort word-count $@"
bl = "zk list --link-to $@"
d = 'zk new --no-input "$ZK_NOTEBOOK_DIR/journal"'
z = "zk edit --exclude journal --interactive"
zd = "zk edit journal --interactive"
