[notebook]
dir = '/home/rnicola/Documents/Zettelkasten'

[note]
language = 'en'
default-title = 'Untitled'
filename = "{{format-date now 'timestamp'}}-{{slug title}}"

[tool]
editor = "nvim"
fzf-line = "{{style 'title' title-or-path}}{{#each tags}} #{{style 'understate' this}}{{/each}}"
fzf-preview = "bat -p --color always {-1}"
fzf-options = """--height 100% --tiebreak begin --exact
                 --tabstop 4 --reverse --color hl:-1,hl+:-1
                 -m --with-nth=1 --preview-window right,70%
                 --no-hscroll
                 --bind=ctrl-y:accept --bind=ctrl-l:toggle+down
                 --bind=ctrl-h:clear-multi
                 --bind='ctrl-p:execute(presenterm {-1})'
              """

[group.daily]
paths = ["journal"]

[group.daily.note]
template = 'daily.md'
filename = '{{format-date now "%Y%m%d"}}'

[group.weekly]
paths = ["journal"]

[group.weekly.note]
template = 'weekly.md'
filename = '{{format-date now "%YW%U"}}'

[group.monthly]
paths = ["journal"]

[group.monthly.note]
template = 'monthly.md'
filename = '{{format-date now "%YM%m"}}'

[alias]
# Interactive pickers
z = "zk edit --exclude journal --interactive"
zd = "zk edit journal --interactive --tag daily"
zw = "zk edit journal --interactive --tag weekly"
zm = "zk edit journal --interactive --tag monthly"
# Journals
d = 'zk new --no-input "$ZK_NOTEBOOK_DIR/journal" -g daily'
w = 'zk new --no-input "$ZK_NOTEBOOK_DIR/journal" -g weekly'
m = 'zk new --no-input "$ZK_NOTEBOOK_DIR/journal" -g monthly'
# Save
save = 'git add . && git commit -m "$(date)" && git push origin main'
