[notebook]
dir = '/home/rnicola/Documents/Zettelkasten'

[note]
language = 'en'
default-title = 'Untitled'
filename = "{{format-date now 'timestamp'}}-{{slug title}}"

[tool]
editor = "nvim"

[group.lectures]
paths = ["lectures"]

[group.lectures.note]
template = "lecture.md"
filename = "{{format-date now 'timestamp'}}-{{slug title}}"

[group.assignments]
paths = ["lectures/assignments"]

[group.assignments.note]
template = "assignment.md"
filename = "{{format-date now 'timestamp'}}-{{slug title}}"

[group.daily]
paths = ["journal"]

[group.daily.note]
template = 'daily.md'
filename = '{{format-date now "%Y%m%d"}}'

[group.weekly]
paths = ["journal"]

[group.weekly.note]
template = 'weekly.md'
filename = '{{format-date now "%YW%U"}}'

[group.monthly]
paths = ["journal"]

[group.monthly.note]
template = 'monthly.md'
filename = '{{format-date now "%YM%m"}}'

[alias]
config = '$EDITOR "$XDG_CONFIG_HOME/zk/config.toml"'
wc = "zk list --format '{{word-count}}\t{{title}}' --sort word-count $@"
bl = "zk list --link-to $@"
d = 'zk new --no-input "$ZK_NOTEBOOK_DIR/journal" -g daily'
w = 'zk new --no-input "$ZK_NOTEBOOK_DIR/journal" -g weekly'
m = 'zk new --no-input "$ZK_NOTEBOOK_DIR/journal" -g monthly'
z = "zk edit --exclude journal --exclude lectures --interactive"
a = "zk edit lectures/assignments --interactive"
l = "zk edit lectures --interactive"
zd = "zk edit journal --interactive"
commit = 'cd $ZK_NOTEBOOK_DIR && git add . && git commit -m "Update zk"'
push = 'cd $ZK_NOTEBOOK_DIR && git push origin main'
