plugins {
    about location="zellij:about"
    compact-bar location="zellij:compact-bar"
    configuration location="zellij:configuration"
    filepicker location="zellij:strider" {
        cwd "/"
    }
    plugin-manager location="zellij:plugin-manager"
    session-manager location="zellij:session-manager"
    status-bar location="zellij:status-bar"
    strider location="zellij:strider"
    tab-bar location="zellij:tab-bar"
    welcome-screen location="zellij:session-manager" {
        welcome_screen true
    }
}

keybinds {
  normal {
      // Unbind the keys that conflict with Neovim
      unbind "Ctrl p" // Was Pane Mode
      unbind "Ctrl n" // Was Resize Mode
      unbind "Ctrl h" // Was Resize Mode
      unbind "Ctrl s" // Was Scroll Mode
      unbind "Ctrl o" // Was Session Mode
      unbind "Alt a" // Was Resize Mode

      // 2. Rebind the missing Zellij actions to new keys (using Alt)
      bind "Alt o" { SwitchToMode "Session"; }
      bind "Alt p" { SwitchToMode "Pane"; }
      bind "Alt n" { SwitchToMode "Resize"; }
    }
  shared_except "locked" {
    bind "Alt t" { NewTab; }
    bind "Alt f" { ToggleFocusFullscreen; }
    bind "Alt w" { CloseTab; }
    bind "Alt Shift w" { CloseFocus; }
    bind "Alt s" {
                LaunchOrFocusPlugin "session-manager" {
                    floating true
                    move_to_focused_tab true
                };
            }
      }
}

load_plugins {
}
web_client {
    font "monospace"
}
 
theme "catppuccin-macchiato"
default_layout "default"
pane_frames false
attach_to_session true
show_startup_tips false
